/*
Adds dark transparent background to navbar for better visibility
*/

@media only screen and (min-width:768px){
    .navbar-custom{
        -webkit-transition:background-color .3s;
        -moz-transition:background-color .3s;
        transition:background-color .3s;
        -webkit-transform:translate3d(0,0,0);
        -moz-transform:translate3d(0,0,0);
        -ms-transform:translate3d(0,0,0);
        -o-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
        -webkit-backface-visibility:hidden;
        backface-visibility:hidden
    }
    .navbar-custom.is-fixed{
        background-color:rgba(0,0,0,.8);
        position:fixed;
        top:-61px;
        -webkit-transition:-webkit-transform 0.3s;
        -moz-transition:-moz-transform 0.3s;
        transition: all linear 0.3s;
    }
    .navbar-custom.is-highlighted{
        background-color:rgba(255,255,255,.9);
        border-bottom:1px solid #f2f2f2;
        -webkit-transition:-webkit-transform 0.3s;
        -moz-transition:-moz-transform 0.3s;
        transition: all linear 0.3s;
    }
    .navbar-custom.is-highlighted .navbar-brand{
        color:#404040
    }
    .navbar-custom.is-highlighted .navbar-brand:hover,.navbar-custom.is-fixed .navbar-brand:focus{
        color:#0085a1
    }
    .navbar-custom.is-highlighted .nav li a{
        color:#404040
    }
    .navbar-custom.is-highlighted .nav li a:hover,.navbar-custom.is-fixed .nav li a:focus{
        color:#0085a1
    }
    .navbar-custom.is-visible{
        -webkit-transform:translate3d(0,100%,0);
        -moz-transform:translate3d(0,100%,0);
        -ms-transform:translate3d(0,100%,0);
        -o-transform:translate3d(0,100%,0);
        transform:translate3d(0,100%,0)
    }
}